@model IEnumerable<SiGMun.MVCPro.Models.UsuarioModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuNomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuSenha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuPerfilId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuDataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuIdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuEstado)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuNomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuSenha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuPerfilId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuDataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuIdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}*@

</table>
